<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "header">
        <h1>Welcome to Blackjack!</h1>
        <button id="start-game">Start Game</button>
    </div>
    <div class="game-container">

        <div class = "topScreen">
            <div class = "deck">

            </div>
            
            <div id="dealerHand" class = "dealerHand">

            </div>
            <p id="dealerTotal">Dealer Total: 0</p>
        </div>

        <div class = "middleScreen">
            <div class = "infoBox">
                <p>--Deez Casino--</p>
                <p>Blackjack pays 3:2</p>
                <p>Dealer must hit on soft 16</p>
                <p>Dealer must stand on hard 17</p>
            </div>
        </div>

        <div class = "bottomScreen">
            <div id="playerHand" class = "playerHand">

            </div>
            <p id="playerTotal">Player Total: 0</p>

            <div class = "buttonsAndBets">
                <div class = "buttonsBox">
                    <button id="hitBtn">Hit</button>
                    <button id="standBtn">Stand</button>
                    <button id="doubleBtn">Double</button>
                    <button id="splitBtn">Split</button>

                </div>

                <div class = "betBox">
                    <button class =  "a25Btn" id="a25Btn">25c</button>
                    <button class =  "a100Btn" id="a100Btn">100c</button>
                    <button class =  "a500Btn" id="a500Btn">500c</button>

                    <div class = "betAmount">
                        <p>Bet amount:<p id = "betAmount">0c</p></p>
                        <button id="resetBetBtn">Reset Bet</button>
                        <button id="betBtn">Bet</button>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class = "coinsTotal">
            <p id = "coinsTotal">Coins = 100c</p>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>