<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "header">
        <h2>Black Jack</h2>
        <button id="start-game">Start Game</button>
        <div class = "coinsTotal">
            <p id = "coinsTotal">Coins = 100c</p>
        </div>
    </div>

    <div class="game-container">

        <div class = "dealer_box">
            
            <div id="dealerHand" class = "dealerHand">

            </div>
            <p class = "dealerTotal" id="dealerTotal">Dealer Total: 0</p>
        </div>

        <div class = "middleScreen">
            <div class = "infoBox">
                <p>--Deez Casino--</p>
                <p>Blackjack pays 3:2</p>
                <p>Dealer must hit on soft 16</p>
                <p>Dealer must stand on hard 17</p>
            </div>
        </div>

        <div class = "player_box">
            <div id="playerHand" class = "playerHand">
                
            </div>

            <div class = "buttonsAndBets">
                <div class = "buttonsBox">
                    <button id="hitBtn" style="background-image: url(static/images/decoration/hit_btn.png);"></button>
                    <button id="standBtn" style="background-image: url(static/images/decoration/stand_btn.png);"></button>
                    <button id="doubleBtn" style="background-image: url(static/images/decoration/dbl_btn.png);"></button>
                    <button id="splitBtn">Split</button>
    
                </div>
    
                <div class = "betBox">
                    <div class = "betChips">
                        <button class =  "a25Btn" id="a25Btn" style="background-image: url(static/images/decoration/25_chip.png);"></button>
                        <button class =  "a100Btn" id="a100Btn" style="background-image: url(static/images/decoration/100_chip.png);"></button>
                        <button class =  "a500Btn" id="a500Btn" style="background-image: url(static/images/decoration/500_chip.png);"></button>
                    </div>
    
                    <div class = "betAmount">
                        <p>Bet amount:<p id = "betAmount">0c</p></p>
                    </div>

                    <div class = resetButtons>
                        <button id="resetBetBtn">Reset Bet</button>
                        <button id="betBtn">Bet</button>
                    </div>
                </div>
                
            </div>

        </div>

        <div class = "player_score">
            <p id="playerTotal">Player Total: 0</p>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>